# オプション参考 https://dev.mysql.com/doc/refman/5.6/ja/server-option-variable-reference.html

[mysqld]
# デフォルトストレージエンジン InnoDB,MyISAM,MEMORY
default_storage_engine=MEMORY
autocommit=on

# 最大接続数
max_connections=20000

### キャッシュ系
# クエリキャッシュタイプ。1推奨。0が無効。1が指定したもの以外をキャッシュ。2が指定したものをキャッシュ。 0,1,2
query_cache_type=1

# クエリキャッシュリミット。デフォルト1M。このバイト数より大きい結果をキャッシュしない
query_cache_limit=16M

# クエリキャッシュサイズ。デフォルト1M。クエリー結果をキャッシュするために割り当てられたメモリーの量
query_cache_size=64M

## InnoDBチューニング
# InnoDBがテーブルおよびインデックスのデータをキャッシュするメモリー領域であるバッファプールのサイズ。デフォルト128M
innodb_buffer_pool_size=512M

# InnoDBログの出力方法。デフォルト1。0が1秒ごとに書き込み。1が確実に書き込み。2がコミット時に1秒ごとに書き込み。0,1,2
innodb_flush_log_at_trx_commit=2

# 二重書き込みすることでデータの整合性を確保する。パフォーマンスを優先する場合はoff
innodb_doublewrite=off

# データファイル、ログファイルの読み書き方式。デフォルトはfsync。O_SYNCは非推奨。fsync,O_DSYNC,O_DIRECT,O_DIRECT_NO_FSYNC
# fsyncはfsync()システムコールを使用して、データファイルとログファイルの両方をフラッシュします。
# O_DIRECT（OSのキャッシュ機構使わないフラグ）を使用してデータファイルを開き、fsync()を使用してデータファイルとログファイルの両方をフラッシュします。全データがInnoDBバッファプールに収まる条件ならO_DIRECTがおすすめ。
# I/Oのフラッシュ時にO_DIRECTを使用しますが、後続のfsync()システムコールはスキップします。
innodb_flush_method=O_DIRECT_NO_FSYNC

# 適応型ハッシュインデックスが有効か。メモリー内にハッシュインデックスを構築することにより、=およびIN演算子を使用したルックアップを高速化。主キーによる検索は高速だが、非インデックスの検索ではやや遅い。切り替えて検証してみないと分からない。
innodb_adaptive_hash_index=off


### 調査系
performance_schema=on
slow_query_log=on
slow_query_log_file=/var/log/mysql/slow_query_log.log
long_query_time=0.5
general_log=off
general_log_file=/var/log/mysql/general_log.log
